body {
  margin: 0;
  padding: 0;
}
.base {
  width: 1000px;
  height: 500px;
  margin: auto;
  border: 2px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}
.scaler {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
}
.section-1 {
  background: #CCFFFF;
}
.section-2 {
  background: #CC99FF;
}
.section-3 {
  background: #663399;
}

.scroll {
  visibility: hidden;
  z-index: -1;
}

