@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
}

.base {
  width: 1000px;
  height: 500px;
  margin: auto;
  border: 2px solid #cccccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}
.scaler {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  top: 0px;
  left: 0;
}
.section p {
  text-align: center;
  font-weight: 300;
}
.section1 {
  display: grid;
  place-items: center;
  background: #fdd;
}
.section2 {
  display: grid;
  place-items: center;
  background: #cdd;
}
.section3 {
  display: grid;
  place-items: center;
  background: #dfd;
}

.scroll {
  visibility: hidden;
  z-index: -1;
}
.background1 {
  background: #FFFFEE;
}
.background2 {
  background: #EEFFFF;
}
.background3 {
  background: #FFEEFF;
}
.background4 {
  background: #E6FFE9;
}
.background5 {
  background: #EAD9FF;
}

#animation {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}