@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}
p {
  font-family: "Noto Sans JP", sans-serif;
}
.base {
  width: 1000px;
  height: 500px;
  margin: auto;
  border: 2px solid #cccccc;
  position: fixed;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}
.scaler {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.section p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333333;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdd;
  position: absolute;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdd;
  position: absolute;
}
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfd;
  position: absolute;
}
.section4{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfd;
  position: absolute;
}

.scroll {
  visibility: hidden;
  z-index: -1;
}
.background1 {
  background: #FFFFEE;
}
.background2 {
  background: #EEFFFF;
}
.background3 {
  background: #FFEEFF;
}
.background4 {
  background: #E6FFE9;
}
.background5 {
  background: #EAD9FF;
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}