body {
  margin: 0;
  padding: 0;
}
.base {
  width: 1000px;
  height: 500px;
  margin: auto;
  border: 2px solid #CCCCCC;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}
.scaler {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: #f00;
  position: absolute;
  top: -24px;
  left: 0;
}
.section-1 {
  background:#4B0082;
  text-align: center;
  position: absolute;
  color: #ffffff;
}
.section-2 {
  background: #FFAAFF;
  text-align: center;
  position: absolute;
}
.section-3 {
  background: #FFFFEE;
  text-align: center;
  position: absolute;
}

.scroll {
  visibility: hidden;
  z-index: -1;
}
.wrapper {
  background: #DDD;
  padding: 20px;
}
.background1 {
  background: #FDD;
}
.background2 {
  background: #CDD;
}
.background3 {
  background: #DFD;
}
.background4 {
  background: #DCD;
}
.background5 {
  background: #FFF;
}

#animation {
  margin: 50px 0;
  font-size: 20px;
  font-weight: bold;
  color:  #000;
  }
  
.fadeInDown {
   -webkit-animation-fill-mode:both;
   -ms-animation-fill-mode:both;
   animation-fill-mode:both;
   -webkit-animation-duration:1s;
   -ms-animation-duration:1s;
   animation-duration:1s;
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
   visibility: visible !important;
  }
  
@-webkit-keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-10px); }
   100% { opacity: 1; -webkit-transform: translateY(0); }
  }

@keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }

